
ion-header {
    --background: var(--primary-color);
    --color: var(--text-color);
  }
  
  ion-toolbar {
    --background: var(--primary-color);
    --color: var(--text-color);
  }
  
  ion-title {
    color: var(--text-color);
  }
  
  ion-buttons, ion-menu-button, ion-back-button {
    color: var(--text-color);
  }
  
  ion-content {
    --background: var(--secondary-color);
  }